body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  position: relative;
  width: 50%;
  text-align: center;
}

.computerImage {
  display: block;
  width: 100%;
  height: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(110, 150, 202);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .9s ease;
  border-color: white;
  border-radius: 20px;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  font-size: 17px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  word-wrap: break-word;
}

.alert-success {
  margin: 15px;
}

.linkList {
  padding-right: 15px;
  padding-left: 150px;
  font-size: 30px;
  font-weight: bold;
}

.projectHeader {
  font-size: 17px;
  padding-left: 10px;
  text-decoration-style: wavy;
}

.projectDescription {
  font-style: italic;
}

.footer {
  width: auto; 
  margin: 1px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tileHeader {
  text-align: center;
  font-size: 15px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.3%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 33.3%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.moreInformation {
  font-style: italic;
  font-weight: 900;
}